@using CatalogueLibrary;
@{
    Layout = "layouts/_Master.cshtml";
    Page.Title = "Home";

    var filePath = Server.MapPath("data/products.json");
    DbProvider.SaveProducts(filePath);
}

<h1>Sweets Catalogue!</h1>